.membership-screen-modal {
  padding: 12px;
  margin: 0px !important;
  border-radius: 19px !important;
  max-width: 800px !important;
}

.membership-float-button .nextui-button-text {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: auto !important;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.width-100 {
  width: 100%;
}

.width-fit-content {
  width: fit-content;
}

.height-90px {
  /* height: 90px; */
}

.column-gap-10 {
  column-gap: 10px;
}

.column-gap-1rem {
  column-gap: 1rem;
}

.column-gap-4-5rem {
  column-gap: 4.5rem;
}

.column-gap-4 {
  column-gap: 4px;
}

.membership-form-wrapper .nextui-input-main-container .nextui-input-container--input .nextui-c-jeuecp {
  background: #fdfdfd !important;
}

.overflow-x-hidden {
  overflow-x: auto;
}

.column-gap-5 {
  column-gap: 5px;
}

.column-gap-3 {
  column-gap: 3px;
}

.row-gap-3 {
  row-gap: 3px;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-8 {
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.watchlist-input-wrapper .nextui-c-iwmZdB-iiIdOsz-css {
  width: 100% !important;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.text-underline {
  text-decoration: underline;
}