.drag-drop-wrapper {
    background-color: #EEF2FF;
    /* background-color: #FAFCFF; */
    border: 2px dashed #C4D7F5;
    border-radius: 4px;

}

.grid-wrapper {
    flex: 1 1 0px;
    width: 100%;

}

/* Base styles */
.nav-button {
    min-width: 60px;
    padding: 5px 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;


}

@media (max-width: 1400px) {
    .nav-button {
        column-gap: 0px;
        min-width: fit-content;
        padding: 5px 10px;
        font-size: 13px;
    }
}

/* Label text default visibility */
.tab-label-text {
    transition: all 0.2s ease;
}

/* Media query: hide text below 1280px, show only on hover */
@media (max-width: 1420px) {
    .tab-label-text {
        opacity: 0;
        visibility: hidden;
        width: 0;
        margin-left: 0;
        overflow: hidden;
        white-space: nowrap;
    }

}

.svg-wrapper {
    width: 25px;
    height: 25px;
}

@media (max-width: 1400px) {
    .svg-wrapper {
        width: 20px !important;
        height: 20px !important;
    }
}